@model BookModel

@{
    ViewData["Title"] = "Criar Livro";
}
<div class="text-center">

    <h1 class="display-4">Book Registration </h1>

</div>
<form asp-controller="Book" asp-action="Create" method="post">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Digite Nome">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label for="autor">Autor</label>
        <input type="text" asp-for="Author" class="form-control" placeholder="Digite Autor">
        @Html.ValidationMessageFor(x => x.Author)
    </div>
    <div class="form-group">
        <label for="ano">Editora</label>
        <input type="text" asp-for="PublishingCompany" class="form-control" placeholder="Digite Ano de lançamento">
        @Html.ValidationMessageFor(x => x.PublishingCompany)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Book" asp-action="Index" role="button">
        voltar
    </a>
</form>