@model BookModel
@{
    ViewData["Title"] = "Confirmação Exclusão  Livro";
}
<div class="text-center">
    <h3>Deseja realmente apagar o livro @Model.Name ?</h3>
</div>
<a class="btn btn-primary btn-block" role="button" asp-controller="Book" asp-action="Index">Cancelar Exclusão</a>
<a class="btn btn-danger btn-block"  role="button" asp-controller="Book"  asp-route-id="@Model.Id" asp-action="DeleteConfirm">Confirmar Exclusão</a>